<%- include("header")%>

    <div class="main-content">

        <ul>

            <% for(let i = 0 ; i < posts.length ; i++) {%>
                <li>
                    <h2>
                        <%= posts[i].postTitle%>
                    </h2>

                    <p class="demo">
                        <%= posts[i].actualPost %>
                    </p>
                    <a href="/readmore?index=<%= i %>">read more</a>
                </li>

            <% } %>

        </ul>


        <h1>
            <%= head %>
        </h1>
        <p>
            <%= content %>
        </p>
    </div>


    <%- include("footer")%>
    